## build system files
_build/
deps/
doc/
erl_crash.dump
*.ez

## Benchmark results files
bench/snapshots/

## PLTS
/priv/plts/*.plt
/priv/plts/*.plt.hash

## generic files
*~
*.DS_Store
*.swp
*.out
Icon?
Thumbs.db
